Source: libposix-strftime-compiler-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Florian Schlichting <fsfs@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libmodule-build-tiny-perl
Build-Depends-Indep: perl,
                     tzdata <!nocheck>
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libposix-strftime-compiler-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libposix-strftime-compiler-perl.git
Homepage: https://metacpan.org/release/POSIX-strftime-Compiler
Rules-Requires-Root: no

Package: libposix-strftime-compiler-perl
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${perl:Depends}
Description: GNU C library compatible strftime for loggers and servers
 POSIX::strftime::Compiler provides a GNU C library compatible
 strftime(3), which is not affected by the system locale. This is useful
 when you want to write loggers, servers and portable applications that
 generate the same result strings on any locale. Technically,
 POSIX::strftime::Compiler wraps POSIX::strftime and converts some format
 characters to perl code.
